#container {
  margin-top: 2rem;
  width: 100%;
  min-height: 400px;
  padding: 3rem 1rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  row-gap: 1rem;
  /* border: 1px solid red; */
}
#Scroller {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 10px;
  /* border: 2px solid white; */
  padding: 20px 1rem;
  overflow: hidden;
}

#Card {
  /* max-height: 280px; */
  width: 280px;
  flex: 1;
  min-width: 280px;
  height: 480px;
  position: relative;
  border: 1px solid #0505053a;
  transition: all 0.5s;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid rgba(255, 250, 250, 0.178);

}
#Card > #Img {
  height: 90%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
#Card > #Img img {
  height: 100%;
  width: 100%;
  /* aspect-ratio: 0.8/0.9; */
}
#content {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#content p {
  text-align: center;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 30;
}
#Card ::after {
  content: "";
  height: 40%;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  z-index: 14;
  background: #0505055b;
  box-shadow: 0px -25px 15px #0505055b;
}
#Card:hover{
    transform: scale(1.2);
    cursor: pointer;
    background: red;
}
